{% extends 'base.html.twig' %}

{% block title %}Hello ConsultationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    table,
    td {
        border: 1px solid #333;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
</style>

<div class="example-wrapper">
   nombre de rendez-vous : {{rdv|length}}


    <table>
        <thead>
        <tr>
            <th>Id du rendez-vous</th>
            <th>Raison du rendez-vous</th>
            <th colspan="3">Date du rendez-vous</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            {% for rdv in rdv %}
                <tr>{{rdv.id}}</tr>
                <tr>{{rdv.libelle}}</tr>
                <tr>{{rdv.date|date("m/d/Y")}}</tr>
                <tr>{{rdv.HeureDeb|date('H:i')}}</tr>
                <tr>{{rdv.HeureFin|date('H:i')}}</tr>
            {% else %}
                Pas de rendez-vous trouvé 
            {% endfor %}
        </tr>
    </tbody>
    <table/>

{# 
    <ul>
        {% for rdv in rdv %}
            <li>{{rdv.id}} -- {{rdv.libelle}} -- {{rdv.date}} -- {{rdv.date_deb}} -- {{rdv.date_fin}}
            </li>
        {% else %}
            Pas de rendez-vous trouvé 
        {% endfor %}
    </ul>
</div>#}
{% endblock %} 
