{% extends 'base.html.twig' %}

{% block title %}Hello ConsultationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   nombre de rendez-vous : {{rdv|length}}

    <ul>
        {% for rdv in rdv %}
            <li>{{rdv.id}} -- {{rdv.libelle}} -- {{rdv.date}} -- {{rdv.date_deb}} -- {{rdv.date_fin}}
            {# <a href="{{path('modifRdv',{id:rdv.id})}}">Modifier</a>
            <a href="{{path('suppRdv',{id:rdv.id})}}"> | Supprimer</a> #}
            </li>
        {% else %}
            Pas de rendez-vous trouvé 
        {% endfor %}
    </ul>
    {{form_start(form)}}
   {{form_widget(form)}}
   {{form_end(form)}}
   
</div>
{% endblock %}
